{% extends 'base.html' %}
{% load static %}

{% block extended_title %}| Bag{% endblock %}

{% block content %}

<div class="overflow-hidden position-relative pt-4 bg-gray">
    <div class="text-center text-uppercase col-12">
        <h3 class="mb-3">Shoping Bag</h3>
        <hr class="bg-black my-0">
        <div class="col-12 col-xl-8 d-flex flex-wrap justify-content-center my-3 mx-auto">
            {% if bag_items %}
                <div class="col-12 col-sm-6 col-md-4 d-flex d-flex-column h-100 product-container p-0 mb-4">
                </div>
            {% else %}
                <p>Your bag is empty.</p>
            {% endif %}
        </div>
    </div>
</div>

<div class="overflow-hidden position-relative py-4">
  <div class="text-center text-uppercase col-12">
    <h3 class="mb-3">Continue Shopping</h3>
    <hr class="bg-black my-0">
    <div class="d-flex flex-wrap justify-content-center my-3">
      <div class="col-8 col-lg-5 col-xl-4 d-flex d-flex-column mx-sm-4 h-100 large-product-container">
        <div class="card border-0 align-items-center w-100 mb-4">
          <img src="{{ random_beer.image.url }}" class="card-img-top border-black large-product-image mt-2" alt="{{ random_beer.name }}">
          <div class="card-body p-0 my-3">
            <h5 class="card-title mb-2">Beers</h5>
          </div>
          <a class="btn-gray" href="{% url 'beers' %}">Shop Now</a>
        </div>
      </div>
      <div class="col-8 col-lg-5 col-xl-4 d-flex d-flex-column mx-sm-4 h-100 large-product-container">
        <div class="card border-0 align-items-center w-100 mb-4">
          <img src="{{ random_merch.image.url }}" class="card-img-top border-black large-product-image mt-2" alt="{{ random_merch.name }}">
          <div class="card-body p-0 my-3">
            <h5 class="card-title mb-2">Merch</h5>
          </div>
          <a class="btn-gray" href="{% url 'merch' %}">Shop Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}