{% extends 'base.html' %}
{% load static %}
{% load bag_tools %}

{% block extended_title %}| Bag{% endblock %}

{% block content %}
<div class="overflow-hidden position-relative py-4 bg-gray">
  <div class="text-center text-uppercase text-black col-12">
    <h3 class="mb-3">Shopping Bag</h3>
    <hr class="bg-black my-0">
    {% if bag_items %}
    <div class="table-responsive rounded col-12 offset-xl-2 col-xl-8 p-0 mt-3">
      <table class="table table-sm table-borderless">
        <thead>
          <tr class="text-small">
            <th scope="col">Product Info</th>
            <th scope="col"></th>
            <th scope="col">Qty</th>
            <th scope="col">Subtotal</th>
          </tr>
        </thead>
        <tbody>
          {% for item in bag_items %}
          <tr>
            <td class="p-3 col-4 col-md-3">
              {% if item.product.image %}
              <img class="img-fluid rounded" src="{{ item.product.image.url }}">
              {% else %}
                {% if item.item_type == 'beer' %}
                <img src="{{ MEDIA_URL }}beers/no_beer.webp" class="img-fluid rounded">
                {% elif item.item_type == 'merch' %}
                <img src="{{ MEDIA_URL }}merch/no_merch.webp" class="img-fluid rounded">
                {% endif %}
              {% endif %}
            </td>
            <td class="py-3 text-left d-flex justify-content-between">
              <div>
                <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                {% if item.size %}
                <p class="my-0"><strong>Size: </strong>{{ item.size|upper }}</p>
                {% endif %}
                <p class="my-0 text-small font-weight-normal text-muted">SKU: {{ item.product.sku|upper }}</p>
              </div>
              <div class="mx-md-2">
              <!-- Delete button -->
                <form action="{% url 'update_bag' item.item_type item.product.pk %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="item_id" value="{{ item.product.pk }}">
                    <input type="hidden" name="item_type" value="{{ item.item_type }}">
                    <input type="hidden" name="size" value="{{ item.size }}">
                    <input type="hidden" name="quantity" value="0">
                    <button type="submit" class="form-control btn-danger text-small rounded-0">&times;</button>
                </form>
              </div>
            </td>
            <td class="py-3 col-1">
              <form action="{% url 'update_bag' item.item_type item.product.pk %}" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="item_id" value="{{ item.product.pk }}">
                  <input type="hidden" name="item_type" value="{{ item.item_type }}">
                  <input type="hidden" name="size" value="{{ item.size }}">
                  <input class="form-control rounded-0 border-black text-small" type="number" name="quantity" value="{{ item.quantity }}" min="0">
                  <button class="bg-transparent border-0 text-primary text-small" type="submit">Update</button>
              </form>
            </td>
            <td class="py-3 text-right col-1">
              <!-- Price -->
              <p class="my-0">£{{ item.product.price }}</p>
              <!-- Subtotal -->
              <p class="my-0">£{{ item.product.price | calc_subtotal:item.quantity }}</p>
            </td>
          </tr>
          {% endfor %}
          <tr>
            <td colspan="5" class="pt-5 text-right">
              <h6><strong>Bag Total: £{{ total|floatformat:2 }}</strong></h6>
              <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
              <h4 class="mt-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
              {% if free_delivery_delta > 0 %}
              <p class="mb-1 text-danger">
                You're only <strong>£{{ free_delivery_delta }}</strong> away from free delivery!
              </p>
              {% endif %}
            </td>
          </tr>
          <tr>
            <td colspan="5" class="text-right">
              <a href="{% url 'checkout' %}" class="btn-gray m-0">
                <span>Secure Checkout <i class="fas fa-lock"></i></span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    {% else %}
    <p class="mt-3 mb-0">Your bag is empty.</p>
    {% endif %}
  </div>
</div>
<div class="overflow-hidden position-relative py-4">
  <div class="text-center text-uppercase col-12">
    <h3 class="mb-3">Continue Shopping</h3>
    <hr class="bg-black my-0">
    <div class="d-flex flex-wrap justify-content-center my-3">
      <div class="col-8 col-lg-5 col-xl-4 d-flex d-flex-column mx-sm-4 h-100 large-product-container">
        <div class="card border-0 align-items-center w-100 mb-4">
          <img src="{{ random_beer.image.url }}" class="card-img-top border-black large-product-image mt-2"
            alt="{{ random_beer.name }}">
          <div class="card-body p-0 my-3">
            <h5 class="card-title mb-2">Beers</h5>
          </div>
          <a class="btn-gray" href="{% url 'beers' %}">Shop Now</a>
        </div>
      </div>
      <div class="col-8 col-lg-5 col-xl-4 d-flex d-flex-column mx-sm-4 h-100 large-product-container">
        <div class="card border-0 align-items-center w-100 mb-4">
          <img src="{{ random_merch.image.url }}" class="card-img-top border-black large-product-image mt-2"
            alt="{{ random_merch.name }}">
          <div class="card-body p-0 my-3">
            <h5 class="card-title mb-2">Merch</h5>
          </div>
          <a class="btn-gray" href="{% url 'merch' %}">Shop Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
