{% extends 'base.html' %}
{% load static %}
{% load bag_tools %}

{% block additional_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block extended_title %}| Checkout{% endblock %}

{% block content %}
<div class="overflow-hidden position-relative text-black py-4 bg-gray">
    <div class="row">
        <div class="text-center text-uppercase col-12">
            <h3 class="mb-3">Checkout</h3>
            <hr class="bg-black my-0">
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12 col-lg-6 order-lg-last px-4 pl-lg-0">
            <p class="text-uppercase px-4">Order Summary ({{ product_count }})</p>
            <div class="table-responsive rounded col-12 p-0">
              <table class="table table-sm table-borderless text-black">
                <thead>
                  <tr class="text-small text-center">
                    <th scope="col">Product Info</th>
                    <th scope="col"></th>
                    <th scope="col">Qty</th>
                    <th scope="col">Subtotal</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in bag_items %}
                  <tr>
                    <td class="p-3 col-4 col-md-3">
                      <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                    </td>
                    <td class="py-3 text-left d-flex justify-content-between">
                      <div>
                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                        {% if item.size %}
                        <p class="my-0"><strong>Size: </strong>{{ item.size|upper }}</p>
                        {% endif %}
                        <p class="my-0 text-small font-weight-normal text-muted">SKU: {{ item.product.sku|upper }}</p>
                      </div>
                    </td>
                    <td class="py-3 col-1 text-center">
                        <p class="my-0">{{ item.quantity }}</p>
                    </td>
                    <td class="py-3 text-right col-1">
                      <!-- Price -->
                      <p class="my-0">£{{ item.product.price }}</p>
                      <!-- Subtotal -->
                      <p class="my-0">£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                    </td>
                  </tr>
                  {% endfor %}
                  <tr>
                    <td colspan="5" class="pt-5 text-right">
                      <h6><strong>Order Total: £{{ total|floatformat:2 }}</strong></h6>
                      <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                      <h4 class="mt-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
        <div class="col-12 col-lg-6 px-4 pr-lg-0">
            <p class="px-4">Please fill out the form below to complete your order</p>
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <fieldset class="rounded px-3 mb-3">
                    <legend class="fieldset-label px-2 w-auto">Details</legend>
                    {{ order_form.customer_name | as_crispy_field }}
                    {{ order_form.customer_email | as_crispy_field }}
                </fieldset>
                <fieldset class="rounded px-3 mb-3">
                    <legend class="fieldset-label px-2 w-auto">Delivery</legend>
                    {{ order_form.customer_address1 | as_crispy_field }}
                    {{ order_form.customer_address2 | as_crispy_field }}
                    {{ order_form.customer_city | as_crispy_field }}
                    {{ order_form.customer_county | as_crispy_field }}
                    {{ order_form.customer_postcode | as_crispy_field }}
                    {{ order_form.customer_country | as_crispy_field }}
                    {{ order_form.customer_phone | as_crispy_field }}
                    <div class="float-right mr-0">
                        {% if user.is_authenticated %}
                        <label class="form-check-label" for="id-save-info">Save this delivery information to my
                            profile</label>
                        <input class="form-check-input ml-2 mr-0 position-relative" type="checkbox" id="id-save-info" name="save-info"
                            checked>
                        {% else %}
                        <label class="form-check-label" for="id-save-info">
                            <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or
                            <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                        </label>
                        {% endif %}
                    </div>
                </fieldset>
                <fieldset class="px-3">
                    <legend class="fieldset-label px-2 w-auto">Payment</legend>
                    <!-- A Stripe card element will go here -->
                    <div class="mb-3" id="card-element"></div>

                    <!-- Used to display form errors -->
                    <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                </fieldset>

                <div class="submit-button text-right my-3">
                    <a href="{% url 'view_bag' %}" class="btn-gray rounded-0 mr-0">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="font-weight-bold">Adjust Bag</span>
                    </a>
                    <button id="submit-button" class="btn-gray rounded-0">
                        <span class="font-weight-bold">Complete Order</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </button>
                    <p class="small text-danger mt-2 mb-0 mr-3">
                        <span class="icon">
                            <i class="fas fa-exclamation-circle"></i>
                        </span>
                        <span>Your card will be charged <strong>£{{ grand_total|floatformat:2 }}</strong></span>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="loading-overlay">
    <h1 class="text-light loading-spinner">
        <span class="icon">
            <i class="fas fa-3x fa-sync-alt fa-spin"></i>
        </span>
    </h1>
</div>
{% endblock %}

{% block additional_js %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}
