.order-history {
    max-height: 386px; /* height of profile form and submit button */
    overflow-y: auto;
}

#profile-update-form .form-control {
    color: #000000;
}

#profile-update-form input,
#profile-update-form select {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    margin-bottom: .5rem;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
    width: 100%;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_customer_country,
#id_default_customer_country option:not(:first-child) {
    color: #000000;
}

#id_default_customer_country option:first-child {
    color: #aab7c4;
}
