body {
    font-family: "Inter", sans-serif;
    font-weight: 900;
}

header {
    background-color: #fff;
    z-index: 999999 !important;
}

main {
    margin-top: 151px;
    min-height: 500px;
}

footer {
    background-color: #000;
}

footer i {
    font-size: 1.5rem;
}

footer a i:hover {
    color: #545454;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900 !important;
}

hr {
    width: 150px;
}

#promo-banner {
    font-size: 14px;
}

.navbar-brand img {
    height: 50px;
}

.nav-menu {
    height: 40px;
}

#nav-logo-container {
    height: 90px;
}

.nav-link span:hover {
    border-bottom: 3px solid #000;
}

.nav-action i:hover {
    color: #545454;
}

#footer-logo-container {
    height: 200px;
}

#newsletter-container {
    height: 350px;
}

#newsletter-text {
    max-width: 640px;
}

#newsletter-form {
    max-width: 540px;
}

#footer-nav-logo {
    height: 30px;
}

.footer-heading {
    height: 60px;
}

#contact-us li {
    font-size: 0.7rem;
}

#hero-section {
    width: 100vw;
    height: calc(100vh - 151px);
}

#hero-image {
    object-fit: cover;
}

.overlay {
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#hero-content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* Utility */
.hover-gray {
    background-color: #545454;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.active {
    border-bottom: 3px solid #000;
}

.btn-white {
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
    border: none;
    font-weight: 900 !important;
}

.btn-white:hover {
    background-color: #545454;
    color: #000;
    text-decoration: none;
}

.btn-gray {
    background-color: #202020;
    color: #fff;
    text-transform: uppercase;
    border: none;
    font-weight: 900 !important;
    padding: 15px;
    margin: 15px;
}

.btn-gray:hover {
    background-color: #545454;
    color: #fff;
    text-decoration: none;
}

.width-fit-content {
    width: fit-content;
}

/* XXL Screen Size */
@media (min-width: 1440px) {
    #footer-menus, #site-info {
        width: 80%;
    }
}