body {
    font-family: "Inter", sans-serif;
    font-weight: 900;
}

header {
    padding: 0 15px !important;
    background-color: #fff;
    z-index: 99 !important;
}

main {
    margin-top: 151px;
    min-height: 500px;
}

footer {
    background-color: #000;
}

footer i {
    font-size: 1.5rem;
}

footer a i:hover {
    color: #545454;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900 !important;
}

hr {
    width: 150px;
    height: 2px;
}

th {
    font-weight: 900;
}

#promo-banner {
    font-size: 14px;
    background-color: #545454;
}

.navbar-brand img {
    height: 50px;
}

.nav-menu {
    height: 40px;
}

#nav-logo-container {
    height: 90px;
}

.nav-link span:hover {
    border-bottom: 3px solid #000;
}

.nav-action i:hover {
    color: #545454;
}

#footer-logo-container {
    height: 200px;
}

#newsletter-container {
    height: 350px;
}

#newsletter-text {
    max-width: 640px;
}

#newsletter-form {
    max-width: 540px;
}

#footer-nav-logo {
    height: 30px;
}

.footer-heading {
    height: 60px;
}

#contact-us li {
    font-size: 0.7rem;
}

.hero-section {
    height: calc(100vh - 151px);
}

.hero-image, .gallery-image {
    object-fit: cover;
}

.overlay {
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.product-image {
    max-width: 300px;
    min-width: 230px;
    height: auto;
}

.product-container {
    max-width: 300px;
}

.large-product-image {
    max-width: 500px;
    height: auto;
}

.large-product-container {
    max-width: 500px;
}

.hero-content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.gallery-content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#taproom-address, #map-content {
    height: 500px;
}

#messages-container {
    z-index: 99999;
    margin-top: 151px;
}

/* Utility */
.hover-gray:hover {
    color: #545454 !important;
    text-decoration: none;
    border: none !important;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.active {
    border-bottom: 3px solid #000;
}

.btn-white {
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
    border: none;
    font-weight: 900 !important;
}

.btn-white:hover {
    background-color: #545454;
    color: #000;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
}

.btn-gray {
    background-color: #202020;
    color: #fff;
    text-transform: uppercase;
    border: none;
    font-weight: 900 !important;
    padding: 13px 15px;
    margin: 0 15px;
    display: inline-block;
    box-sizing: border-box;
}

.btn-gray:hover {
    background-color: #545454;
    color: #fff;
    text-decoration: none;
}

.form-control-button {
    padding: .375rem .75rem !important;
    display: block !important;
    height: calc(1.5em + .75rem + 2px) !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
}

.bg-black {
    background-color: #000;
}

.bg-gray {
    background-color: #eee;
}

.width-fit-content {
    width: fit-content;
}

.height-fit-content {
    height: fit-content;
}

/* Reduced Font Sizes For Mobile */
@media (max-width: 500px) {
    p, li, .text-small {
        font-size: 0.7rem;
    }
    h1 {
        font-size: 1.8rem;
    }
    h2 {
        font-size: 1.44rem;
    }
    h3 {
        font-size: 1.26rem;
    }
    h4 {
        font-size: 1.08rem;
    }
    h5 {
        font-size: 0.9rem;
    }
    h6 {
        font-size: 0.7rem;
    }
}

/* XXL Screen Size */
@media (min-width: 1440px) {
    #footer-menus, #site-info {
        width: 80%;
    }
}

/* Override Bootstrap modal behavior to prevent unnecessary added padding */
.modal-open {
    padding-right: 0 !important;
}