{% extends 'base.html' %}
{% load static %}

{% block extended_title %}| Beers{% endblock %}

{% block content %}
<div class="overflow-hidden position-relative py-4 bg-gray" id="our-beers-section">
  <div class="text-center text-uppercase col-12" id="our-beers-content">
    <!-- Our Beers Section -->
    <h3 class="mb-3">Our Beers</h3>
    <hr class="bg-black my-0">
    <!-- Displaying Core Range and Limited Edition beers -->
    <div class="d-flex flex-wrap justify-content-center my-3">
      <!-- Core Range Beer Card -->
      <div class="col-8 col-lg-5 col-xl-4 d-flex d-flex-column mx-sm-4 h-100 large-product-container">
        <div class="card border-0 align-items-center w-100 mb-4 bg-gray">
          {% if core_range_beer.image %}
          <!-- Display core range beer image if available -->
          <img src="{{ core_range_beer.image_url }}" class="card-img-top border-black large-product-image mt-2" alt="{{ core_range_beer.name }}">
          {% else %}
          <!-- Display placeholder image if core range beer image is not available -->
          <img src="{{ MEDIA_URL }}beers/no-beer.webp" class="card-img-top border-black large-product-image mt-2" alt="{{ core_range_beer.name }}">
          {% endif %}
          <div class="card-body p-0 my-3">
            <h5 class="card-title mb-2">Core Range</h5>
            <p class="card-text">A collection of finely crafted ales that are always available. These staples showcase
              our dedication to quality and innovation with consistent flavours and exceptional taste.</p>
          </div>
          <!-- Link to shop core range beers -->
          <a class="btn-gray" href="{% url 'beers' %}?limited_edition=False">Shop Now</a>
        </div>
      </div>
      <!-- Limited Edition Beer Card -->
      <div class="col-8 col-lg-5 col-xl-4 d-flex d-flex-column mx-sm-4 h-100 large-product-container">
        <div class="card border-0 align-items-center w-100 mb-4 bg-gray">
          {% if limited_edition_beer.image %}
          <!-- Display limited edition beer image if available -->
          <img src="{{ limited_edition_beer.image_url }}" class="card-img-top border-black large-product-image mt-2" alt="{{ limited_edition_beer.name }}">
          {% else %}
          <!-- Display placeholder image if limited edition beer image is not available -->
          <img src="{{ MEDIA_URL }}beers/no-beer.webp" class="card-img-top border-black large-product-image mt-2" alt="{{ limited_edition_beer.name }}">
          {% endif %}
          <div class="card-body p-0 my-3">
            <h5 class="card-title mb-2">Limited Edition</h5>
            <p class="card-text">Unique, small-batch brews that push the boundaries of flavour and creativity. These
              exclusive releases are available for a limited time only.</p>
          </div>
          <!-- Link to shop limited edition beers -->
          <a class="btn-gray" href="{% url 'beers' %}?limited_edition=True">Shop Now</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="overflow-hidden position-relative py-4" id="beers-section">
  <!-- Beers Section -->
  <div class="text-center text-uppercase col-12" id="beers-content">
    <h3 class="mb-3">{{ title }}</h3>

    <div class="row d-flex justify-content-between align-items-center mb-3">
      <!-- Search and sort dropdown -->
      <form action="{% url 'beers' %}" method="GET" class="ml-4 text-small">
        <!-- Preserve limited_edition parameter -->
        <input type="hidden" name="limited_edition" value="{{ request.GET.limited_edition }}">
        <label for="sort_by" class="form-label visually-hidden my-0">Sort by:</label>
        <!-- Dropdown for sorting beers -->
        <select name="sort_by" id="sort_by" class="text-muted font-weight-normal text-right form-select border-0">
          <option value="name_asc" {% if request.GET.sort_by == 'name_asc' %}selected{% endif %}>Name Ascending</option>
          <option value="name_desc" {% if request.GET.sort_by == 'name_desc' %}selected{% endif %}>Name Descending
          </option>
          <option value="price_asc" {% if request.GET.sort_by == 'price_asc' %}selected{% endif %}>Price Ascending
          </option>
          <option value="price_desc" {% if request.GET.sort_by == 'price_desc' %}selected{% endif %}>Price Descending
          </option>
          <option value="alcohol_asc" {% if request.GET.sort_by == 'alcohol_asc' %}selected{% endif %}>Alcohol Content
            Ascending</option>
          <option value="alcohol_desc" {% if request.GET.sort_by == 'alcohol_desc' %}selected{% endif %}>Alcohol Content
            Descending</option>
        </select>
      </form>

      <!-- Item count -->
      <div class="d-flex align-items-center text-lowercase text-muted font-weight-normal text-right font-italic mr-4">
        <span class="text-small">{{ beers.count }} Items</span>
      </div>
    </div>

    <hr class="bg-black my-0">

    <!-- Beer cards -->
    <div class="col-12 col-xl-8 d-flex flex-wrap justify-content-center my-3 mx-auto">
      {% for beer in beers %}
      <div class="col-12 col-sm-6 col-md-4 d-flex d-flex-column h-100 product-container p-0 mb-4">
        <!-- Link to each beer's detail page -->
        <a href="{% url 'beer_detail' beer.id %}" class="text-black hover-gray mx-4">
          <div class="card border-0 align-items-center">
            {% if beer.image_url %}
            <!-- Display beer image if available -->
            <img src="{{ beer.image_url }}" class="card-img-top border-black my-2 product-image" alt="{{ beer.name }}">
            {% else %}
            <!-- Display placeholder image if beer image is not available -->
            <img src="{{ MEDIA_URL }}beers/no-beer.webp" class="card-img-top border-black my-2 product-image" alt="{{ beer.name }}">
            {% endif %}
            <div class="card-body p-0">
              <!-- Display beer name, type, alcohol content, and price -->
              <h5 class="card-title my-0">{{ beer.name }}</h5>
              <p class="card-text mb-2">{{ beer.type }} / {{ beer.alcohol_content }}%</p>
              <hr class="bg-black my-0">
              <p class="card-text mt-2">£{{ beer.price }}</p>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block end_js %}
<script>
  // Function to save scroll position
  function saveScrollPosition() {
    sessionStorage.setItem('scrollPosition', window.scrollY);
  }

  // Function to restore scroll position
  function restoreScrollPosition() {
    let scrollPosition = sessionStorage.getItem('scrollPosition');
    if (scrollPosition !== null) {
      $(window).scrollTop(parseInt(scrollPosition));
      sessionStorage.removeItem('scrollPosition');
    }
  }

  // Restore scroll position when the page loads
  $(document).ready(function () {
    restoreScrollPosition();
  });

  // Save scroll position before form submission
  $(document).on('change', '#sort_by', function () {
    saveScrollPosition();
    $(this).closest('form').submit();
  });
</script>
{% endblock %}