{% extends 'base.html' %}
{% load static %}

{% block extended_title %}| Beer{% endblock %}

{% block content %}
<div class="overflow-hidden position-relative py-4 bg-gray" id="our-beers-section">
  <div class="text-center text-uppercase col-12" id="our-beers-content">
    <h3 class="mb-3">Our Beers</h3>
    <hr class="bg-black my-0">
    <div class="d-flex flex-wrap justify-content-center my-3">
      <div class="col-8 col-lg-5 col-xl-4 d-flex d-flex-column mx-sm-4 h-100 large-product-container">
        <div class="card border-0 align-items-center w-100 mb-4 bg-gray">
          <img src="{{ core_range_beer.image.url }}" class="card-img-top border-black large-product-image mt-2" alt="{{ core_range_beer.name }}">
          <div class="card-body p-0 my-3">
            <h5 class="card-title mb-2">Core Range</h5>
            <p class="card-text">A collection of finely crafted ales that are always available. These staples showcase our dedication to quality and innovation with consistent flavours and exceptional taste.</p>
          </div>
          <a class="btn-gray" href="{% url 'beers' %}?limited_edition=False">Shop Now</a>
        </div>
      </div>
      <div class="col-8 col-lg-5 col-xl-4 d-flex d-flex-column mx-sm-4 h-100 large-product-container">
        <div class="card border-0 align-items-center w-100 mb-4 bg-gray">
          <img src="{{ limited_edition_beer.image.url }}" class="card-img-top border-black large-product-image mt-2" alt="{{ limited_edition_beer.name }}">
          <div class="card-body p-0 my-3">
            <h5 class="card-title mb-2">Limited Edition</h5>
            <p class="card-text">Unique, small-batch brews that push the boundaries of flavour and creativity. These exclusive releases are available for a limited time only.</p>
          </div>
          <a class="btn-gray" href="{% url 'beers' %}?limited_edition=True">Shop Now</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="overflow-hidden position-relative py-4" id="beers-section">
  <div class="text-center text-uppercase col-12" id="beers-content">
    <h3 class="mb-3">{{ title }}</h3>

    <div class="row d-flex justify-content-between align-items-center mb-3">
      <!-- Search and sort dropdown -->
      <form action="{% url 'beers' %}" method="GET" class="ml-4 text-small">
        <label for="sort_by" class="form-label visually-hidden my-0">Sort by:</label>
        <select name="sort_by" id="sort_by" class="text-muted font-weight-normal text-right form-select border-0" onchange="this.form.submit()">
          <option value="name_asc" {% if request.GET.sort_by == 'name_asc' %}selected{% endif %}>Name Ascending</option>
          <option value="name_desc" {% if request.GET.sort_by == 'name_desc' %}selected{% endif %}>Name Descending</option>
          <option value="price_asc" {% if request.GET.sort_by == 'price_asc' %}selected{% endif %}>Price Ascending</option>
          <option value="price_desc" {% if request.GET.sort_by == 'price_desc' %}selected{% endif %}>Price Descending</option>
          <option value="alcohol_asc" {% if request.GET.sort_by == 'alcohol_asc' %}selected{% endif %}>Alcohol Content Ascending</option>
          <option value="alcohol_desc" {% if request.GET.sort_by == 'alcohol_desc' %}selected{% endif %}>Alcohol Content Descending</option>
        </select>
      </form>

      <!-- Item count -->
      <div class="d-flex align-items-center text-lowercase text-muted font-weight-normal text-right font-italic mr-4">
        <span class="text-small">{{ beers.count }} Items</span>
      </div>
    </div>

    <hr class="bg-black my-0">

    <!-- Beer cards -->
    <div class="col-12 col-xl-8 d-flex flex-wrap justify-content-center my-3 mx-auto">
      {% for beer in beers %}
      <div class="col-12 col-sm-6 col-md-4 d-flex d-flex-column h-100 product-container p-0 mb-4">
        <a href="{% url 'beer_detail' beer.id %}" class="text-black hover-gray mx-4">
          <div class="card border-0 align-items-center">
            <img src="{{ beer.image.url }}" class="card-img-top border-black my-2 product-image" alt="{{ beer.name }}">
            <div class="card-body p-0">
              <h5 class="card-title my-0">{{ beer.name }}</h5>
              <p class="card-text mb-2">{{ beer.type }} / {{ beer.alcohol_content }}%</p>
              <hr class="bg-black my-0">
              <p class="card-text mt-2">£{{ beer.price }}</p>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}