{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="overflow-hidden position-relative py-4" id="our-beers-section">
  <div class="text-center text-uppercase col-12" id="our-beers-content">
    <h3 class="mb-3">Our Beers</h3>
    <hr class="bg-black my-0">
    <div class="d-flex justify-content-center my-3">
      <div class="card border-0 align-items-center mr-2 mx-sm-4">
        <div class="card-img-top border-black bg-white my-2" style="width: 100%; height: 200px;"></div>
        <!-- <img src="..." class="card-img-top border-black my-2" alt="..."> -->
        <div class="card-body py-0">
          <h5 class="card-title my-0">Core Range</h5>
          <p class="card-text">A collection of finely crafted ales that are always available. These staples showcase our dedication to quality and innovation with consistent flavours and exceptional taste.</p>
          <a class="btn-gray" href="#">Shop Now</a>
        </div>
      </div>
      <div class="card border-0 align-items-center ml-2 mx-sm-4">
        <div class="card-img-top border-black bg-white my-2" style="width: 100%; height: 200px;"></div>
        <!-- <img src="..." class="card-img-top border-black my-2" alt="..."> -->
        <div class="card-body py-0">
          <h5 class="card-title my-0">Limited Edition</h5>
          <p class="card-text">Unique, small-batch brews that push the boundaries of flavour and creativity. These exclusive releases are available for a limited time only.</p>
          <a class="btn-gray" href="#">Shop Now</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="overflow-hidden position-relative py-4" id="beers-section">
  <div class="text-center text-uppercase col-12" id="beers-content">
    <hr class="bg-black my-0">
    <div class="d-flex justify-content-center my-3">
      <div class="card border-0 align-items-center mr-2 mx-sm-4">
        <div class="card-img-top border-black bg-white my-2" style="width: 100%; height: 200px;"></div>
        <!-- <img src="..." class="card-img-top border-black my-2" alt="..."> -->
        <div class="card-body py-0">
          <h5 class="card-title my-0">Beer Name</h5>
          <p class="card-text">Type of Beer / ?.?%</p>
        </div>
      </div>
      <div class="card border-0 align-items-center ml-2 mx-sm-4">
        <div class="card-img-top border-black bg-white my-2" style="width: 100%; height: 200px;"></div>
        <!-- <img src="..." class="card-img-top border-black my-2" alt="..."> -->
        <div class="card-body py-0">
          <h5 class="card-title my-0">Beer Name</h5>
          <p class="card-text">Type of Beer / ?.?%</p>
        </div>
      </div>
      <div class="d-none d-lg-block card border-0 align-items-center mx-sm-4">
        <div class="card-img-top border-black bg-white my-2" style="width: 100%; height: 200px;"></div>
        <!-- <img src="..." class="card-img-top border-black my-2" alt="..."> -->
        <div class="card-body py-0">
          <h5 class="card-title my-0">Beer Name</h5>
          <p class="card-text">Type of Beer / ?.?%</p>
        </div>
      </div>
      {{ beers }}
    </div>
  </div>
</div>
{% endblock %}