{% extends 'base.html' %}
{% load static %}

{% block extended_title %}| Merch{% endblock %}

{% block content %}
<div class="overflow-hidden position-relative py-4 bg-gray" id="our-merch-section">
  <div class="text-center text-uppercase col-12" id="our-merch-content">
    <h3 class="mb-3">Our merch</h3>
    <hr class="bg-black my-0">
    <div class="d-flex flex-wrap justify-content-center my-3">
      <!-- Apparel & Accessories Section -->
      <div class="col-8 col-lg-5 col-xl-4 d-flex d-flex-column mx-sm-4 h-100 large-product-container">
        <div class="card border-0 align-items-center w-100 mb-4 bg-gray">
          {% if random_apparel.image %}
          <img src="{{ random_apparel.image_url }}" class="card-img-top border-black large-product-image mt-2" alt="{{ random_apparel.name }}">
          {% else %}
          <img src="{{ MEDIA_URL }}merch/no-merch.webp" class="card-img-top border-black large-product-image mt-2" alt="{{ random_apparel.name }}">
          {% endif %}
          <div class="card-body py-0 my-3">
            <h5 class="card-title mb-2">Apparel & Accessories</h5>
            <p class="card-text">Show off your love for Alchemy Aleworks with our stylish and practical gear. Perfect for any fan, our apparel and accessories combine comfort and functionality, allowing you to represent your favourite brewery wherever you go.</p>
            <a class="btn-gray" href="{% url 'merch' %}?category=apparel%20%26%20accessories">Shop Now</a>
          </div>
        </div>
      </div>
      <!-- Drinkware Section -->
      <div class="col-8 col-lg-5 col-xl-4 d-flex d-flex-column mx-sm-4 h-100 large-product-container">
        <div class="card border-0 align-items-center w-100 mb-4 bg-gray">
          {% if random_drinkware.image %}
          <img src="{{ random_drinkware.image_url }}" class="card-img-top border-black large-product-image mt-2" alt="{{ random_drinkware.name }}">
          {% else %}
          <img src="{{ MEDIA_URL }}merch/no-merch.webp" class="card-img-top border-black large-product-image mt-2" alt="{{ random_drinkware.name }}">
          {% endif %}
          <div class="card-body py-0 my-3">
            <h5 class="card-title mb-2">Drinkware</h5>
            <p class="card-text">Enhance your drinking experience with our specially designed items. Crafted to complement our brews, these pieces are perfect additions to any home bar, ensuring every sip is enjoyed to the fullest</p>
            <a class="btn-gray" href="{% url 'merch' %}?category=drinkware">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="overflow-hidden position-relative py-4" id="merch-section">
  <div class="text-center text-uppercase col-12" id="merch-content">
    <h3 class="mb-3">{{ title }}</h3>

    <div class="row d-flex justify-content-between align-items-center mb-3">
      <!-- Search and sort dropdown -->
      <form action="{% url 'merch' %}" method="GET" class="ml-4 text-small">
        <!-- Preserve category parameter -->
        <input type="hidden" name="category" value="{{ request.GET.category }}">
        <label for="sort_by" class="form-label visually-hidden my-0">Sort by:</label>
        <select name="sort_by" id="sort_by" class="text-muted font-weight-normal text-right form-select border-0">
          <!-- Sorting options -->
          <option value="name_asc" {% if request.GET.sort_by == 'name_asc' %}selected{% endif %}>Name Ascending</option>
          <option value="name_desc" {% if request.GET.sort_by == 'name_desc' %}selected{% endif %}>Name Descending</option>
          <option value="price_asc" {% if request.GET.sort_by == 'price_asc' %}selected{% endif %}>Price Ascending</option>
          <option value="price_desc" {% if request.GET.sort_by == 'price_desc' %}selected{% endif %}>Price Descending</option>
        </select>
      </form>

      <!-- Item count display -->
      <div class="d-flex align-items-center text-lowercase text-muted font-weight-normal text-right font-italic mr-4">
        <span class="text-small">{{ merch.count }} Items</span>
      </div>
    </div>

    <hr class="bg-black my-0">

    <!-- Merch Cards -->
    <div class="col-12 col-xl-8 d-flex flex-wrap justify-content-center my-3 mx-auto">
      {% for merch_item in merch %}
      <div class="col-12 col-sm-6 col-md-4 d-flex d-flex-column h-100 product-container p-0 mb-4">
        <a href="{% url 'merch_detail' merch_item.id %}" class="text-black hover-gray mx-4">
          <div class="card border-0 align-items-center">
            <!-- Display merch item image or default image -->
            {% if merch_item.image_url %}
            <img src="{{ merch_item.image_url }}" class="card-img-top border-black my-2 product-image" alt="{{ merch_item.name }}">
            {% else %}
            <img src="{{ MEDIA_URL }}merch/no-merch.webp" class="card-img-top border-black my-2 product-image" alt="{{ merch_item.name }}">
            {% endif %}
            <div class="card-body p-0">
              <h5 class="card-title mb-2">{{ merch_item.name }}</h5>
              <hr class="bg-black my-0">
              <p class="card-text mt-2">£{{ merch_item.price }}</p>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}