{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="overflow-hidden position-relative py-5 bg-gray">
  <div class="text-center text-uppercase col-12">
    <div class="d-flex flex-wrap justify-content-center align-items-center my-3">
      <div class="col-12 col-lg-5 col-xl-4 d-flex d-flex-column px-5 px-lg-0 mx-sm-4 h-100 large-product-container">
        <div class="card border-0 align-items-center w-100 mb-4 bg-gray">
          <img src="{{ merch.image.url }}" class="card-img-top border-black large-product-image" alt="{{ merch.name }}">
        </div>
      </div>
      <div class="col-12 col-lg-5 col-xl-4 d-flex d-flex-column mx-sm-4 h-100 large-product-container">
        <div class="card border-0 align-items-center w-100 mb-4 bg-gray">
          <div class="card-body p-0 mt-3">
            <h3 class="card-title mb-3">{{ merch.name }}</h3>
            <hr class="bg-black my-0">
            <p class="card-text mt-3">{{ merch.description }}</p>
          </div>
          <div class="card-body p-0 mb-3">
            <p class="card-text">£{{ merch.price }}</p>
          </div>
          <div class="card-body p-0 mb-3 d-flex align-items-center">
            <form action="#" method="post" class="d-flex align-items-center flex-wrap">
              {% csrf_token %}
              <p class="card-text text-uppercase my-0">Quantity:</p>
              <input class="form-control rounded-0 border-black mx-3" type="number" name="quantity" value="1" min="1" style="width: 60px;">
              <button type="submit" class="btn-gray form-control-button mx-0">Add to Cart</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="overflow-hidden position-relative py-4 product-section">
  <div class="text-center text-uppercase col-12 product-content">
    <h3 class="mb-3">You Might Also Like</h3>
    <hr class="bg-black my-0">
    <div class="col-12 col-lg-8 d-flex flex-wrap flex-lg-nowrap justify-content-center mt-3 mx-auto">
      {% for merch in random_merch %}
      <div class="col-12 col-sm-6 col-md-4 h-100 product-container p-0 mx-4 mb-4 {% if forloop.counter > 2 %}d-none d-lg-flex{% endif %}">
        <a href="{% url 'merch_detail' merch.id %}" class="text-black hover-gray">
          <div class="card border-0 align-items-center">
            <img src="{{ merch.image.url }}" class="card-img-top border-black my-2 product-image" alt="{{ merch.name }}">
            <div class="card-body p-0">
              <h5 class="card-title mb-2">{{ merch.name }}</h5>
              <hr class="bg-black my-0">
              <p class="card-text mt-2">£{{ merch.price }}</p>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    <a class="btn-gray" href="{% url 'merch' %}">Back to Merch</a>
  </div>
</div>
{% endblock %}