{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block allauth_page_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}

<p>{% blocktrans %}If you already have an account, please sign in <a href="{{ login_url }}">here</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="my-3">
    <a class="btn-gray text-white mx-0" href="{% url 'account_login' %}">Back to Login</a>
    <button type="submit">{% trans "Sign Up" %}</button>
  </div>
</form>

{% endblock %}
