{% extends 'base.html' %}
{% load static %}

{% block extended_title %}| Privacy Policy{% endblock %}

{% block content %}
<div class="overflow-hidden position-relative py-4 bg-gray">
    <div class="text-center text-uppercase col-12">
        <h3 class="mb-3">Privacy Policy</h3>
            <hr class="bg-black my-0">
            <p class="mt-3 mb-0">Effective Date: 12/07/2024</p>
    </div>
</div>

<div class="col-12 col-lg-6 offset-lg-3 p-3">
    <div class="order-confirmation-wrapper p-2 border-black text-black">
        <ol>
            <li>
                <h5>Introduction</h5>
                <p>
                    Welcome to Alchemy Aleworks. We value your privacy and are committed to protecting your personal
                    data. This privacy policy explains how we collect, use, and share your personal information when you
                    visit our website and interact with our services.
                </p>
            </li>
            <li>
                <h5>Data We Collect</h5>
                <p>
                    We collect the following types of personal data from users:
                </p>
                <ul>
                    <li><strong>Contact Information:</strong> Name, email address</li>
                    <li><strong>Account Information:</strong> Email address, password</li>
                    <li><strong>Order Information:</strong> Name, billing address, shipping address, payment details
                    </li>
                </ul>
            </li>
            <li>
                <h5>How We Collect Your Data</h5>
                <p>
                    We collect personal data through:
                </p>
                <ul>
                    <li><strong>Forms:</strong> When you create an account, place an order, or subscribe to a newsletter
                    </li>
                    <li><strong>User Accounts:</strong> Information provided during registration and account management
                    </li>
                </ul>
            </li>
            <li>
                <h5>Purpose of Data Collection</h5>
                <p>
                    We collect personal data for the following purposes:
                </p>
                <ul>
                    <li><strong>Account Creation:</strong> During account sign-up, users need to provide an email
                        address and password</li>
                    <li><strong>Order Processing:</strong> To process and fulfil orders, including shipping and billing
                    </li>
                </ul>
            </li>
            <li>
                <h5>Legal Requirements</h5>
                <p>
                    There are no specific legal requirements for collecting the types of data we collect beyond standard
                    business practices for processing orders and maintaining accounts.
                </p>
            </li>
            <li>
                <h5>Data Sharing</h5>
                <p>
                    We do not share users' data with third parties except internally for providing assistance with
                    payment and shipping.
                </p>
                <p>
                    We do not sell users' personal data to third parties.
                </p>
            </li>
            <li>
                <h5>User Rights</h5>
                <p>
                    Users have the following rights regarding their personal data:
                </p>
                <ul>
                    <li><strong>Access and Correction:</strong> Users can amend their saved delivery information from
                        their profile.</li>
                    <li><strong>Deletion:</strong> Users can contact support if they would like to delete their account.
                    </li>
                </ul>
                <h6>Opting Out:</h6>
                <ul>
                    <li>Users cannot opt out of data collection or data sharing as the data is required to deliver
                        products and services.</li>
                </ul>
            </li>
            <li>
                <h5>Data Security</h5>
                <p>
                    We implement appropriate technical and organisational measures to protect users' data, including:
                </p>
                <ul>
                    <li><strong>Encryption:</strong> Data is encrypted during transmission.</li>
                    <li><strong>Secure Servers:</strong> Data is stored on secure servers with access controls.</li>
                </ul>
                <h6>Data Retention:</h6>
                <ul>
                    <li>We retain users' data for as long as necessary to fulfil the purposes for which it was collected
                        or as required by law.</li>
                </ul>
            </li>
            <li>
                <h5>Cookies</h5>
                <p>
                    We use the following types of cookies on our website:
                </p>
                <ul>
                    <li><strong>Functional Cookies:</strong> Necessary for website functionality, including an age
                        verification cookie.</li>
                </ul>
                <h6>Managing Cookie Preferences:</h6>
                <ul>
                    <li>The age verification cookie is essential for complying with legal requirements to restrict
                        access to age-sensitive content. As such, users cannot opt out of this cookie. However, users
                        can manage other cookie preferences through their browser settings.</li>
                </ul>
            </li>
            <li>
                <h5>Third-Party Services</h5>
                <p>
                    We do not use any third-party services such as Google Analytics or social media plugins on our
                    website.
                </p>
            </li>
            <li>
                <h5>Policy Updates</h5>
                <p>
                    We may update this privacy policy from time to time. We will notify users of any significant changes
                    by posting a notice on our website.
                </p>
            </li>
            <li>
                <h5>Contact Information</h5>
                <p>
                    If you have any questions or concerns about our privacy practices, please contact us at:
                </p>
                <p>
                    Alchemy Aleworks
                </p>
                <p>
                    Email: support@alchemyaleworks.com
                </p>
            </li>
        </ol>
    </div>
</div>
{% endblock %}
