{% extends 'base.html' %}
{% load static %}

{% block extended_title %}| Terms and Conditions{% endblock %}

{% block content %}
<div class="overflow-hidden position-relative py-4 bg-gray">
    <div class="text-center text-uppercase col-12">
        <h3 class="mb-3">Terms and Conditions</h2>
            <hr class="bg-black my-0">
            <p class="mt-3 mb-0">Last Updated: 12/07/2024</p>
    </div>
</div>

<div class="col-12 col-lg-6 offset-lg-3 p-3">
    <div class="order-confirmation-wrapper p-2 border-black text-black">
        <h4>Introduction</h4>
        <p>
            These Terms and Conditions govern your use of the Alchemy Aleworks website, services, and products.
            By accessing this website and/or placing an order, you agree to abide by these Terms and Conditions
            in their entirety.
        </p>

        <h4>Website Use:</h4>
        <ol>
            <li>
                <h5>Accuracy of Information:</h5>
                <ul>
                    <li>We strive to provide accurate and up-to-date information on our website. However, we do not
                        guarantee the completeness or accuracy of the information.</li>
                </ul>
            </li>
            <li>
                <h5>Intellectual Property:</h5>
                <ul>
                    <li>All content on this website, including but not limited to text, images, logos, trademarks, and
                        graphics, is the property of Alchemy Aleworks and protected by intellectual property laws.
                    </li>
                </ul>
            </li>
            <li>
                <h5>User Conduct:</h5>
                <ul>
                    <li>You agree to use this website for lawful purposes only and in a manner that does not infringe the rights of others or restrict their use of the website.</li>
                </ul>
            </li>
        </ol>

        <h4>Orders and Payments:</h4>
        <ol>
            <li>
                <h5>Order Acceptance:</h5>
                <ul>
                    <li>All orders placed through our website are subject to acceptance and availability.</li>
                    <li>We reserve the right to refuse any order at our discretion.</li>
                </ul>
            </li>
            <li>
                <h5>Pricing and Payment:</h5>
                <ul>
                    <li>Prices displayed on our website are in pound sterling and inclusive of applicable taxes.</li>
                    <li>Payment must be made in full at the time of placing an order.</li>
                </ul>
            </li>
        </ol>

        <h4>Liability:</h4>
        <ol>
            <li>
                <h5>Limitation of Liability:</h5>
                <ul>
                    <li>To the fullest extent permitted by law, Alchemy Aleworks shall not be liable for any indirect, consequential, or incidental damages arising out of or in connection with your use of our website, services, or products.</li>
                </ul>
            </li>
            <li>
                <h5>Governing Law:</h5>
                <ul>
                    <li>These Terms and Conditions shall be governed by and construed in accordance with the laws of England and Wales.</li>
                    <li>Any disputes arising under these Terms and Conditions shall be subject to the exclusive jurisdiction of the courts of England and Wales.</li>
                </ul>
            </li>
        </ol>

        <h4>Contact Us:</h4>
        <p>
            If you have any questions or concerns regarding these Terms and Conditions, please contact us at support@alchemyaleworks.com.
        </p>
    </div>
</div>
{% endblock %}
