{% load static %}

<!doctype html>
<html lang="en">

<head>
  {% block meta %}
  <!-- Meta Tags for Compatibility and Character Set -->
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% endblock %}

  <!-- Additional Meta Tags -->
  {% block additional_meta %}
  {% endblock %}

  <!-- Core CSS Block -->
  {% block CSS %}
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  {% endblock %}

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'css/base.css' %}">

  <!-- Additional CSS -->
  {% block additional_css %}
  {% endblock %}

  <!-- Core JS Block -->
  {% block js %}
  <!-- jQuery, Popper.js, and Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
    integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous">
  </script>

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/20d4ac6c68.js" crossorigin="anonymous"></script>
  {% endblock %}

  <!-- Stripe -->
   <script src="https://js.stripe.com/v3/"></script>

  <!-- Age Verification Modal JS -->
  <script src="/static/js/age_verification_modal.js"></script>

  <!-- Additional JS -->
  {% block additional_js %}
  <script src="{% static 'js/scroll_position.js' %}"></script>
  {% endblock %}

  <!-- Page Title -->
  <title>Alchemy Aleworks {% block extended_title %}{% endblock %}</title>
</head>

<body>
  <!-- Fixed, full-width header -->
  <header class="container-fluid fixed-top">
    <!-- Promo Banner -->
    <div id="promo-banner" class="row text-center">
      <div class="col text-white align-items-center justify-content-center">
        <p class="text-uppercase font-weight-normal p-0 m-0">Free delivery when you spend £{{ free_delivery_threshold }}
          or more!</p>
      </div>
    </div>

    <!-- Navbar -->
    <nav class="row justify-content-end">
      <!-- Logo -->
      <div class="col-12 col-lg-4 d-flex justify-content-center align-content-center" id="nav-logo-container">
        <a class="navbar-brand m-0 d-flex align-items-center" href="{% url 'home' %}">
          <img src="{% static 'images/logos/alchemy-aleworks-black.png' %}" alt="Alchemy Aleworks Black Logo">
        </a>
      </div>

      <!-- Mobile Nav Menu -->
      <div class="collapse col-12 text-center" id="navbarToggleMobileMenu">
        <a class="text-black text-uppercase nav-link" href="{% url 'home' %}">
          Home
        </a>
        <a class="text-black text-uppercase nav-link" href="{% url 'beers' %}">
          Beers
        </a>
        <a class="text-black text-uppercase nav-link" href="{% url 'merch' %}">
          Merch
        </a>
        <a class="text-black text-uppercase nav-link" href="{% url 'taproom' %}">
          Taproom
        </a>
        <a class="text-black text-uppercase nav-link" href="{% url 'about' %}">
          About
        </a>
      </div>

      <!-- Mobile Nav, Search, Accounts, & Cart -->
      <div class="col-12 col-lg-4 align-content-center">
        <ul class="list-inline list-unstyled text-center text-lg-right my-0">
          <!-- Mobile Nav Toggler -->
          <li class="list-inline-item p-0 m-0 d-lg-none">
            <a class="navbar-toggler text-black nav-link" type="button" data-toggle="collapse"
              data-target="#navbarToggleMobileMenu" aria-controls="navbarToggleMobileMenu" aria-expanded="false"
              aria-label="Toggle navigation">
              <i class="fa-solid fa-bars fa-lg"></i>
            </a>
          </li>

          <!-- Search, Accounts & Cart -->
          <li class="list-inline-item p-0 m-0">
            <a class="text-black nav-link nav-action" href="#" id="search-bar" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fa-solid fa-magnifying-glass fa-lg"></i>
            </a>
            <div class="dropdown-menu border-black rounded-0" aria-labelledby="search-bar">
              <form class="form" method="GET" action="{% url 'search' %}">
                <div class="input-group w-100 px-2">
                  <input type="text" class="form-control border rounded-0" name="q" placeholder="Search the store!">
                  <div class="input-group-apend">
                    <button class="form-control btn btn-dark border rounded-0" type="submit">
                      <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </li>
          <li class="list-inline-item dropdown p-0 m-0">
            <a class="text-black nav-link nav-action" href="#" id="account-menu" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fa-solid fa-user fa-lg"></i>
            </a>
            <div class="dropdown-menu border-black rounded-0" aria-labelledby="account-menu">
              {% if request.user.is_authenticated %}
              {% if request.user.is_superuser %}
              <a href="" class="text-black text-uppercase nav-link">Product Management</a>
              {% endif %}
              <a href="" class="text-black text-uppercase nav-link">My Profile</a>
              <a href="{% url 'account_logout' %}" class="text-black text-uppercase nav-link">Logout</a>
              {% else %}
              <a href="{% url 'account_signup' %}" class="text-black text-uppercase nav-link">Register</a>
              <a href="{% url 'account_login' %}" class="text-black text-uppercase nav-link">Login</a>
              {% endif %}
            </div>
          </li>
          <li class="list-inline-item p-0 m-0">
            <a class="text-black nav-link nav-action hover-gray" href="{% url 'view_bag' %}">
              <i class="fa-solid fa-cart-shopping fa-lg"></i>
              <span class="align-middle font-weight-normal">
                {% if product_count %}
                {{ product_count }}
                {% endif %}
              </span>
            </a>
          </li>
        </ul>
      </div>

      <!-- Force next columns to break to new line -->
      <div class="w-100"></div>

      <!-- Main Menu -->
      <div class="col-12 d-none d-lg-flex justify-content-center nav-menu">
        <ul class="list-inline list-unstyled text-center text-lg-right my-0">
          <li class="list-inline-item p-0 m-0">
            <a class="text-black text-uppercase nav-link" href="{% url 'home' %}">
              <span class="{% if request.path == '/' %}active{% endif %}">Home</span>
            </a>
          </li>
          <li class="list-inline-item p-0 m-0">
            <a class="text-black text-uppercase nav-link" href="{% url 'beers' %}">
              <span class="{% if request.path == '/inventory/beers/' %}active{% endif %}">Beer</span>
            </a>
          </li>
          <li class="list-inline-item p-0 m-0">
            <a class="text-black text-uppercase nav-link" href="{% url 'merch' %}">
              <span class="{% if request.path == '/inventory/merch/' %}active{% endif %}">Merch</span>
            </a>
          </li>
          <li class="list-inline-item p-0 m-0">
            <a class="text-black text-uppercase nav-link" href="{% url 'taproom' %}">
              <span class="{% if request.path == '/pages/taproom/' %}active{% endif %}">Taproom</span>
            </a>
          </li>
          <li class="list-inline-item p-0 m-0">
            <a class="text-black text-uppercase nav-link" href="{% url 'about' %}">
              <span class="{% if request.path == '/pages/about/' %}active{% endif %}">About</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- Messages -->
  {% if messages %}
  <div id="messages-container" class="fixed-top bg-transparent w-100">
    {% for message in messages %}
      {% with message.level as level %}
        {% if level == 40 %}
          {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
          {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
          {% include 'includes/toasts/toast_success.html' %}
        {% else %}
          {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
      {% endwith %}
    {% endfor %}
  </div>
  {% endif %}

  <main>
    <!-- Content Block -->
    {% block content %}
    {% endblock %}

    <!-- Age Verification Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-0 text-center text-uppercase bg-gray">
          <div class="modal-header border-0">
            <h5 class="modal-title mx-auto" id="exampleModalLongTitle">Age Verification</h5>
          </div>
          <hr class="bg-black my-0">
          <div class="modal-body">
            <p>By pressing enter, you confirm that you meet the legal drinking age requirement in your country.</p>
          </div>
          <div class="modal-footer border-0">
            <button type="button" id="age-verify-button" class="btn-gray mx-0" data-dismiss="modal">Enter</button>
            <a class="btn-gray ml-2 mr-0" href="https://www.google.com/">Leave</a>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- Full-width footer -->
  <footer class="container-fluid text-white">
    <!-- Newsletter -->
    <div class="container-fluid" id="newsletter-container">
      <div class="row justify-content-center pt-4" id="footer-logo-container">
        <!-- Logo -->
        <img class="h-100" src="{% static 'images/logos/alchemy-aleworks-white-symbol-only.png' %}"
          alt="Alchemy Aleworks White Symbol Logo">
      </div>
      <div class="row justify-content-center">
        <p class="text-center" id="newsletter-text">Stay in the loop! Sign up for our newsletter to stay updated on the
          latest releases and exclusive offers</p>
      </div>
      <div class="row justify-content-center">
        <form class="form w-100" id="newsletter-form" method="POST" action="">
          <div class="input-group w-100 px-2">
            <input type="email" class="form-control rounded-0 mr-3" name="email" placeholder="Enter email">
            <div class="input-group-apend">
              <button class="form-control btn-white rounded-0" type="submit">
                Sign up
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <hr class="bg-white my-0">

    <div class="container-fluid d-flex justify-content-between" id="footer-menus">
      <!-- Footer Nav -->
      <div class="col-6 col-lg-4 mt-5 p-0 d-flex justify-content-center" id="footer-nav">
        <div class="container width-fit-content">
          <div class="footer-heading">
            <img id="footer-nav-logo" src="{% static 'images/logos/alchemy-aleworks-white-text-only.png' %}"
              alt="Alchemy Aleworks White Text Logo">
          </div>
          <ul class="list-unstyled my-0">
            <li class="p-0 m-0">
              <a class="text-uppercase text-white" href="{% url 'home' %}">
                Home
              </a>
            </li>
            <li class="p-0 m-0">
              <a class="text-uppercase text-white" href="{% url 'beers' %}">
                Beer
              </a>
            </li>
            <li class="p-0 m-0">
              <a class="text-uppercase text-white" href="{% url 'merch' %}">
                Merch
              </a>
            </li>
            <li class="p-0 m-0">
              <a class="text-uppercase text-white" href="{% url 'taproom' %}">
                Taproom
              </a>
            </li>
            <li class="p-0 m-0">
              <a class="text-uppercase text-white" href="{% url 'about' %}">
                About
              </a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Contact Us (Large Screen Sizes) -->
      <div class="col-4 mt-5 p-0 d-none d-lg-flex justify-content-center" id="contact-us">
        <div class="container width-fit-content">
          <div class="footer-heading">
            <h4 class="text-uppercase">Contact Us</h4>
          </div>
          <h6 class="text-uppercase my-0">Customer Service Contact</h6>
          <ul class="list-unstyled mb-3">
            <li class="text-uppercase p-0 m-0">
              Email: support@alchemyaleworks.com
            </li>
            <li class="text-uppercase p-0 m-0">
              Phone: 01234 567890
            </li>
          </ul>
          <h6 class="text-uppercase my-0">Trade Contact</h6>
          <ul class="list-unstyled my-0">
            <li class="text-uppercase p-0 m-0">
              Email: trade@alchemyaleworks.com
            </li>
            <li class="text-uppercase p-0 m-0">
              Phone: 01234 567891
            </li>
          </ul>
        </div>
      </div>

      <!-- Policies -->
      <div class="col-6 col-lg-4 mt-5 p-0 d-flex justify-content-center" id="policies">
        <div class="container width-fit-content">
          <div class="footer-heading">
            <h4 class="text-uppercase">Policies</h4>
          </div>
          <ul class="list-unstyled my-0">
            <li class="p-0 m-0">
              <a class="text-uppercase text-white" href="#">
                Orders and Returns
              </a>
            </li>
            <li class="p-0 m-0">
              <a class="text-uppercase text-white" href="#">
                Terms and Conditions
              </a>
            </li>
            <li class="p-0 m-0">
              <a class="text-uppercase text-white" href="#">
                Privacy Policy
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Contact Us -->
    <div class="row">
      <div class="col-12 mt-4 p-0 d-flex d-lg-none justify-content-center text-center" id="contact-us">
        <div class="container width-fit-content">
          <div class="footer-heading">
            <h4 class="text-uppercase">Contact Us</h4>
          </div>
          <h6 class="text-uppercase my-0">Customer Service Contact</h6>
          <ul class="list-unstyled mb-3">
            <li class="text-uppercase p-0 m-0">
              Email: support@alchemyaleworks.com
            </li>
            <li class="text-uppercase p-0 m-0">
              Phone: 01234 567890
            </li>
          </ul>
          <h6 class="text-uppercase my-0">Trade Contact</h6>
          <ul class="list-unstyled my-0">
            <li class="text-uppercase p-0 m-0">
              Email: trade@alchemyaleworks.com
            </li>
            <li class="text-uppercase p-0 m-0">
              Phone: 01234 567891
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid align-content-center mt-4" id="site-info">
      <div class="row d-flex justify-content-between">
        <!-- Payment Types -->
        <div class="col-6 col-lg-2 align-content-center py-3">
          <div class="w-100">
            <span class="mr-1"><i class="fa-brands fa-cc-mastercard"></i></span>
            <span class="mr-1"><i class="fa-brands fa-cc-visa"></i></span>
            <span class="mr-1"><i class="fa-brands fa-cc-amex"></i></span>
            <span><i class="fa-brands fa-cc-discover"></i></span>
          </div>
          <div class="w-100">
            <span class="mr-1"><i class="fa-brands fa-cc-diners-club"></i></span>
            <span class="mr-1"><i class="fa-brands fa-cc-jcb"></i></span>
            <span class="mr-1"><i class="fa-brands fa-cc-stripe"></i></span>
            <span><i class="fa-solid fa-credit-card"></i></span>
          </div>
        </div>

        <!-- Copyright (Large Screen Sizes) -->
        <div class="col-lg-8 d-none d-lg-block text-center align-content-center py-3">
          <p class="text-uppercase m-0">&copy;<span class="copyright-year"></span> Alchemy Aleworks - Designed by <a
              href="https://github.com/eddy-bryan">Eddy Bryan</a></p>
        </div>

        <!-- Social Links -->
        <div class="col-6 col-lg-2 text-right align-content-center py-3">
          <a class="mr-3 text-white" href="https://www.facebook.com/"><i class="fa-brands fa-square-facebook"></i></a>
          <a class="mr-3 text-white" href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
          <a class="text-white" href="https://x.com/"><i class="fa-brands fa-twitter"></i></a>
        </div>
      </div>

      <!-- Copyright -->
      <div class="row d-flex d-lg-none justify-content-center text-center">
        <p class="text-uppercase">&copy;<span class="copyright-year"></span> Alchemy Aleworks - Designed by <a
            href="https://github.com/eddy-bryan">Eddy Bryan</a></p>
      </div>
    </div>
  </footer>

  <script>
    // Get the current year
    var currentYear = new Date().getFullYear();
    // Update the elements with class "copyright-year"
    var copyrightYears = document.getElementsByClassName("copyright-year");
    // Loop through the collection and update each element
    for (var i = 0; i < copyrightYears.length; i++) {
      copyrightYears[i].textContent = currentYear;
    }
  </script>

  <!-- Additional JavaScript loaded after page content -->
  {% block end_js %}
  <script type="text/javascript">
    $(document).ready(function () {
      // Show the toast initially
      $('.toast').toast('show');

      // Close toast on click outside
      $(document).on('click', function (e) {
      // Check if the click target is not within the toast area
      if (!$(e.target).closest('.toast').length) {
      // Close the toast
      $('.toast').toast('hide');
      }
      });

      // Prevent propagation of click events inside the toast
      $('.toast').on('click', function(e) {
      e.stopPropagation();
      });
      });
  </script>
  {% endblock %}
</body>

</html>